[run]
branch = True
source = hyperspy
include = */hyperspy/*
omit =
    */hyperspy/external/*
    */hyperspy/ipython_profile/*
    */hyperspy/drawing/*
    */hyperspy/gui/*
    */setup.py
    */examples/*
    */bin/*
