syntax: glob
*~
*.bak
*.deb
*.mex
*nbc
*nbi
*.o
*.pyc
*.pyd
*.pyproj
*.so
*.swo
*.swp
*.DS_Store
*__pycache__
*Thumbs.db
/.cache/
/.spyproject/
.coverage
.hook_ignore*
.idea/*
.python-version
.ropeproject/*
.spyderproject
.spyderworkspace
~.vimrc
desktop.ini
dist
/MANIFEST
build/*
bin/*.bat
PortableInstall/*
hyperspy.egg-info/*
data/octave-core
deb_dist/*
doc/_build/*
doc/.build/*
doc/api/*
doc/auto_examples
doc/gh-pages
doc/log.txt
doc/user_guide/_build/*
doc/user_guide/.build/*
examples/io/*.msa
examples/io/rgb*.jpg
examples/region_of_interest/*.msa
hyperspy/io_plugins/unbcf_fast.c
hyperspy/misc/etc/test_compilers.obj
hyperspy/tests/io/edax_files.zip
hyperspy/tests/misc/cython/test_cython_integration.c
setup/windows/requires/*
setup/windows/reccomends/*

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/
tsconfig.json
jsconfig.json
*egg-info*
*__pycache__*

*sg_execution_times.rst
