syntax: glob
*~
*.bak
*.deb
*.mex
*nbc
*nbi
*.o
*.pyc
*.pyd
*.pyproj
*.so
*.swo
*.swp
*.DS_Store
*__pycache__
*Thumbs.db
/.cache/
/.spyproject/
.coverage
.hook_ignore*
.idea/*
.python-version
.ropeproject/*
.spyderproject
.spyderworkspace
~.vimrc
desktop.ini
dist
/MANIFEST
build/*
hyperspy.egg-info/*
data/octave-core
deb_dist/*
doc/auto_examples
doc/backreferences
doc/_build
doc/log.txt
examples/io/*.msa
examples/io/rgb*.jpg
examples/region_of_interest/*.msa

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/
tsconfig.json
jsconfig.json
*egg-info*
*__pycache__*

*sg_execution_times.rst

# virtual environments
venv/

