syntax: glob
.spyderworkspace
.coverage
/MANIFEST
/*.rst
*.pyc
*.pyd
*.swp
*~
*.bak
*.mex
*.o
dist
*.deb
*.swo
build/*
bin/*
PortableInstall/*
hyperspy.egg-info/*
deb_dist/*
~.vimrc
data/octave-core
.spyderproject
doc/_build/*
doc/.build/*
doc/user_guide/_build/*
doc/user_guide/.build/*
doc/api/*.rst
setup/windows/requires/*
setup/windows/reccomends/*
doc/examples
doc/gh-pages
*Thumbs.db
.ropeproject/*
.idea/*
