Alberto Eljarrat <alberto.eljarrat@gmail.com> <aeljarrat@el.ub.edu>
Alexander Skorikov <alexander.skorikov@gmail.com> <alexander.skorikov@uantwerpen.be>
Carter Francis <csfrancis@wisc.edu> <cartsfrancis@gmail.com>
Carter Francis <csfrancis@wisc.edu> <cfrancis@directelectron.com>
Francisco de la Peña <francisco.de-la-pena-manchon@univ-lille.fr> <989719+francisco-dlp@users.noreply.github.com>
Francisco de la Peña <francisco.de-la-pena-manchon@univ-lille.fr> <fjd29@cam.ac.uk>
Francisco de la Peña <francisco.de-la-pena-manchon@univ-lille.fr> <frandelapena@gmail.com>
Francisco de la Peña <francisco.de-la-pena-manchon@univ-lille.fr> <hyperspy-devel@googlegroups.com>
Francisco de la Peña <francisco.de-la-pena-manchon@univ-lille.fr> unknown <Francisco@ogre.msm.cam.ac.uk>
Francisco de la Peña <francisco.de-la-pena-manchon@univ-lille.fr> Francisco <francisco.de-la-pena@univ-lille1.fr>
Francisco de la Peña <francisco.de-la-pena-manchon@univ-lille.fr> Francisco DELAPENA <L13070520@I012V2pc01.ensinfo.sciences.univ-nantes.prive>
Giulio Guzzinati <guzzinati@ceos-gmbh.de> <guzzinati@ceos-gmbh.eu>
HanHsuanWu <112028355+HanHsuanWu@users.noreply.github.com> <hanhsuaw@uci.edu>
Hugh Ramsden <hugh.o.ramsden@gmail.com> <rammers2@hotmail.co.uk>
Jonas Lähnemann <jonas@pdi-berlin.de> jlaehne <jonas@pdi-berlin.de>
Joshua Taillon <jat255@gmail.com> <jat255@users.noreply.github.com>
Joshua Taillon <jat255@gmail.com> <joshua.taillon@nist.gov>
Magnus Nord <magnunor@gmail.com> <Magnus.Nord@glasgow.ac.uk>
Magnus Nord <magnunor@gmail.com> <magnus.nord@ntnu.no>
Magnus Nord <magnunor@gmail.com> <magnunor@jobbPC.phys.ntnu.no>
Michael Sarahan <msarahan@gmail.com> <msarahan@superstem.org>
Michael Sarahan <msarahan@gmail.com> unknown <Mike@.(none)>
Michael Walls <wamich1@yahoo.co.uk> <michael.walls@u-psud.fr>
Nicolas Tappy <37581871+LMSC-NTappy@users.noreply.github.com> <nicolas.tappy@attolight.com>
Pierre Burdet <pb565@cam.ac.uk> <pierre.burdet@a3.epfl.ch>
Sivert Dagenborg <sivert.dagenborg@gmail.com> <sivert.j.v.dagenborg@ntnu.no>
Stefano Mazzucco <pietranera@gmail.com> <smazzucc@flashlight.nist.gov>
Thomas Aarholt <thomasaarholt@gmail.com> <thomasaar@uio.no>
Timothy Poon <timothy0626@gmail.com> <62692924+ptim0626@users.noreply.github.com>
Tom Furnival <tjof2@cam.ac.uk> <6626247+tjof2@users.noreply.github.com>
Tom Furnival <tjof2@cam.ac.uk> <tjof2@users.noreply.github.com>
Tom Slater <tjaslater@gmail.com> <TomSlater@users.noreply.github.com>
Tomas Ostasevicius <t.ostasevicius@gmail.com> <to266@cam.ac.uk>
Vidar Tonaas Fauske <vidartf@gmail.com> vidartf <vidartf@gmail.com>
