repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
ci:
    # Don't run automatically on PRs, instead add the comment
    # "pre-commit.ci autofix" on a pull request to manually trigger auto-fixing 
    autofix_prs: false
    autoupdate_branch: 'RELEASE_next_patch'
